* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

body {
    background: #333;
}

h1 {
    text-align: center;
    color: rgb(94, 84, 84);
    
    padding: 25px 50px; 
    font-size: 64px;
    background: rgb(170, 163, 163);
}

.main-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    border: 1px solid white;
    background-color: antiquewhite;
    height: 50vh;
}

.choice {
    background-color: rgb(158, 135, 105);
    padding: 80px 150px;
    margin: 5px 10px;
    border-radius: 10px;
}

.choice:nth-child(1) {
    font-size: 55px;
    color: rgb(212, 12, 12);
    background-color: rgb(62, 165, 62);
}

.choice:nth-child(2) {
    font-size: 55px;
    color:rgb(10, 143, 10);
    background-color: rgb(179, 166, 54);
}

.choice:nth-child(3) {
    font-size: 55px;
    color: rgb(218, 145, 11);
    background-color: rgb(179, 79, 54);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-top: 20px; 

}

.btns button {
    margin: 60px 50px;
    padding: 15px 30px;  
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: #333;
    color: #fff; 
    border: 1px solid #fff;
 
}


input {
    /* display: none;  */
    transition:  all 2000 ease;
}

label {
    font-size: 40px;
    transition: all 1000 ease; 
}

label:hover {
    cursor: pointer;
    font-size: 50px;
    padding: 50px 100px; 
}

input:active:checked + i{
    cursor: pointer;
    font-size: 30px;
    padding: 20px 30px;
    border: solid 3px #fff;
}

/* input:active {
    border: solid 3px magenta;
} */



.points-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; 
    position: relative; 
    width: 50%; 
    margin: 50px auto; 
    padding: 50px 80px;
    border-radius: 15px; 
}

#userWinsOutput {
    position: absolute;
    top: 25px; 
    left: -30px;
    font-size: 35px; 
    color: rgb(11, 11, 235); 
    background: rgb(156, 152, 152);
    padding: 10px 20px; 
    border-radius: 10px; 
}

#drawOutput { 
    position: absolute;
    font-size: 35px;
    bottom: 0; 
    left: 270px;
    color:rgb(13, 172, 13); 
    background: rgb(170, 163, 163);
    padding: 10px 20px; 
    border-radius: 10px; 
}

#compWinsOutput {
    position: absolute;
    font-size: 35px;
    top: 28px; 
    right: -30px;
    color:rgb(148, 10, 202); 
    background: rgb(170, 163, 163);
    padding: 10px 20px; 
    border-radius: 10px; 
}




.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; 
    position: relative; 
    width: 50%; 
    margin: 50px auto; 
    padding: 50px 80px;
    border-radius: 15px; 
}

.message-container #winPercentagesOutput{
    position: absolute;
    left: 200px; 
    top: 25px; 
    font-size: 50px;
}


.message-container #totalGameTimesOutput {
    position: absolute;
    left: 250px; 
    top: 25px; 
    font-size: 50px;
}










